SECRET_KEY=kuncirahasianamanya
ALLOWED_ORIGINS=http://localhost:5000
FLASK_DEBUG=False
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# SonarQube
SONAR_TOKEN=sqa_0765e3a327d8fa653c8f9e3ae3325a309cc2c12f
SONAR_HOST_URL=http://localhost:9000

# Database
POSTGRES_PASSWORD=sonar
SONAR_JDBC_PASSWORD=sonar